{% extends 'base.html' %}
{% block content %}

<input type="text" name="q"
    hx-get="/"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#search-results"
    hx-push-url="true"
    placeholder="Search..."
>
<div id="search-results">
    home
    {% include 'search_results.html' %}
</div>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
        </tr>
    </thead>

    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if persons.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ persons.previous_page_number }}">Previous</a></li>
        {% endif %}
        <span class="current">
            Page {{ persons.number }} of {{ persons.paginator.num_pages }}.
        </span>
        {% if persons.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ persons.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}